*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    line-height: 1.2;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.2rem;
}
header {
    /* background-color: rgb(172, 228, 173); */
    width: 90%;
    margin: 0 auto 0;
}
.header_img {
    display: block;
    width: 8rem;
    padding: 2rem;
    margin: 0 auto 0;
    
}
/* -----END HEADER----- */
nav {
    position: relative;
    display: flex;
    height: 4rem;
    width: 90%;
    margin: 0 auto 0;
    justify-content: space-between;
    background-color: rgb(6, 38, 10);
    color: white;
    /* border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem; */
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.bus_name {
    background: transparent;
    color: white;
    font-size: 1.2rem;
    margin: 0.5rem 3rem 0;
    padding:1rem;
    border-radius: 1rem;
}
.nav_menu {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin: 0 3rem 0;
}
.nav_menu a {
    color: white;
}

.nav_menu a:hover {
    color: lightgreen;
}

/* -----END NAV----- */
section {
    display: flex;
    margin: 0 auto 0;
}

article {
    position: relative;
    flex: 1;
    gap: 1rem;
    margin: 2rem auto 2rem;
}

.offer_img {
    position: relative;
    width: 90%;
    border-radius: 1rem;
    z-index: -1;
    opacity: 0.9;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    border: 0.2rem;
    border-color: rgb(227, 235, 229);
    border-style: solid;
    
}
.flex_offer {
    width: 90%;
    text-align: center;
    font-weight: bold;
    
}
.offer_text {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.4);
    width: fit-content;
    height: fit-content;
    color: white;
    border-radius: 1rem;
    top: 1rem;
    left: 7rem;
    padding: 1rem;
}

span {
    color: rgb(178, 7, 16);
    font-style: italic;
    font-size: 2.3rem;
}
.flex_cards {
    width: 90%;
    display: flex;
    gap: 1rem
}
.flex_card {
    flex: 1;
    width: 60%;
    height: fit-content;
    text-align: center;
    margin: 0 0 1rem;
    /* background-color: rgb(172, 228, 173); */
    border: 0.2rem;
    border-color: rgb(135, 184, 147);
    border-style: solid;
    padding: 1rem;
    gap: 1rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.flex_card img {
    width: 80%;
    height: 80%;
    border-radius: 1rem;
}

.flex_card p {
    background: transparent;
    font-size: 1.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    min-height: 8rem;
}
/* -----END MAIN----- */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}
.footer_img {
    position: relative;
    width: 7rem;
    margin-right: auto;
    margin-left: 0;
}
.footer_img:hover {
    background-color: rgba(49, 158, 71, 0.2);
    padding: 1rem;
    border-radius: 1rem;
}
.footer_contact {
    flex: 1;
    font-size: 1.5rem;
    margin: 2rem auto 0;
}
.footer_socials {
    flex: 1;
    display: flex; 
    gap: 4rem;
    font-size: 3rem;
    margin: 1rem auto;
}
.footer_socials i {
    color:rgb(48, 107, 107);
}
.footer_socials i:hover {
    color:rgb(36, 220, 82);
}

.footer_copyright {
    width: 80%;
    font-size: 1rem;
    text-align: center;
    margin: 1rem auto 1rem;
    padding: 1.2rem;
    border-top: 1px solid black;
}

/*========== MEDIA QUERIES (TABLETS) ==========*/
@media screen and (max-width: 1024px) {
    .offer_text1{
        font-size: 2rem;
    }
    .offer_text2{
        font-size: 1.7rem;
    }
}


/*========== MEDIA QUERIES (PHONES) ==========*/
/* NavBar becomes dropdown or hamburger and three cards become column one */
